<% layout('/layouts/default.html', {title: '专业技术资格管理', libs: ['validate','dataGrid','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(qualification.isNewRecord ? '专业技术资格' : '专业技术资格')}<a id="personName"></a>
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${qualification}" action="${ctx}/qualification/qualification/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('信息录入')}</div>
				<#form:hidden path="id"/>
				<#form:hidden path="baseInfoId"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('资格名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="name" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('颁发部门')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="department" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('取得时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="obtainTime" readonly="true" maxlength="20" class="form-control Wdate "
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('附件')}：<i class="fa icon-question hide"></i></label>
							
							<div class="col-sm-10">
								<#form:fileupload id="uploadFile" path="qualificationAtt" bizKey="${qualification.id}" bizType="qualificationAtt"
									uploadType="all" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
var bsId='';
$(document).ready(function(){
	var url = window.location.href;
	var para = url.split("?");
	var paras = para[1].split('&');
	bsId = paras[0].split('baseInfoId=')[1];		
});

$("#inputForm").validate({
	submitHandler: function(form){
		if(bsId == 0 || bsId == '' ) {
			js.showMessage("请先录入人员基本信息!")
			return false;	
		}
		$("#baseInfoId").val(bsId);
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});						
			}
		}, "json");
    }
});
</script>