<% layout('/layouts/default.html', {title: '参加学术团体经历管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('参加学术团体经历管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('academic:academicOrganization:edit')){ %>
					<a href="${ctx}/academic/academicOrganization/form" class="btn btn-default btnTool" title="${text('新增参加学术团体经历')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${academicOrganization}" action="${ctx}/academic/academicOrganization/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<#form:hidden path="baseInfoId"/>
				<div class="form-group">
					<label class="control-label">${text('起始年月')}：</label>
					<div class="control-inline">
						<#form:input path="startDate" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('截止年月')}：</label>
					<div class="control-inline">
						<#form:input path="endDate" maxlength="16" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('org_name')}：</label>
					<div class="control-inline">
						<#form:input path="orgName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('担任职务')}：</label>
					<div class="control-inline">
						<#form:input path="duty" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工作职责')}：</label>
					<div class="control-inline">
						<#form:input path="responsibility" maxlength="256" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('工作内容')}：</label>
					<div class="control-inline">
						<#form:input path="workContent" maxlength="256" class="form-control width-120"/>
					</div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('起始年月')}', name:'startDate', index:'a.start_date', width:150, align:"left"},
		{header:'${text('截止年月')}', name:'endDate', index:'a.end_date', width:150, align:"left"},
		{header:'${text('机构名称')}', name:'orgName', index:'a.org_name', width:150, align:"left"},
		{header:'${text('担任职务')}', name:'duty', index:'a.duty', width:150, align:"left"},
		{header:'${text('工作职责')}', name:'responsibility', index:'a.responsibility', width:150, align:"left"},
		{header:'${text('工作内容')}', name:'workContent', index:'a.work_content', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
		
				actions.push('<a href="${ctx}/academic/academicOrganization/form?id='+row.id+'&opt=detailEdit" class="btnList" title="${text('编辑参加学术团体经历')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/academic/academicOrganization/delete?id='+row.id+'" class="btnList" title="${text('删除参加学术团体经历')}" data-confirm="${text('确认要删除该参加学术团体经历吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
		
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>