<% layout('/layouts/default.html', {title: '国家级、省部级人才管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(talents.isNewRecord ? '国家级、省部级人才' : '国家级、省部级人才')}<a id="personName"></a>
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${talents}" action="${ctx}/talents/talents/save" method="post" class="form-horizontal">
			<div class="box-body">
			<div class="form-unit">${text('信息录入')}</div>
				<#form:hidden path="id"/>
				<#form:hidden path="baseInfoId"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('入选时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="beselectedTime" readonly="true" maxlength="20" class="form-control Wdate "
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('人才工程项目名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="projectName" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('等级')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="level" maxlength="32" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('授予单位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="awardUnit" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">						
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
var bsId='';
$(document).ready(function(){
	var url = window.location.href;
	var para = url.split("?");
	var paras = para[1].split('&');
	bsId = paras[0].split('baseInfoId=')[1];
	
});

$("#inputForm").validate({
	submitHandler: function(form){
		if(bsId == 0 || bsId == '' ) {
			js.showMessage("请先录入人员基本信息!")
			return false;	
		}
		// 如果是编辑数据，表单中已经有值，无需再赋值
		if(typeof $("#baseInfoId").val() == 'undefined' || $("#baseInfoId").val()=='') {
			$("#baseInfoId").val(bsId);	
		}		
		
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});	
			}
		}, "json");
    }
});

</script>

